<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vector Automation</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Cattle Farm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } 
</script>

<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" th:href="@{css/flexslider.css}" type="text/css"
	media="screen" property="" />

<script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>

<link
	href='//fonts.googleapis.com/css?family=Poppins:400,300,500,600,700'
	rel='stylesheet' type='text/css' />
<link
	href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css' />

<script type="text/javascript" th:src="@{js/move-top.js}"></script>
<script type="text/javascript" th:src="@{js/easing.js}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });
</script>
<style>
.dropdown-menu {
background-color: transparent;
}

.select{
color: #ffffff;
background-color: transparent;
}
option { 
    /* Whatever color  you want */
    background-color: #E4E5E6;
}
</style>

</head>

<body>

	<div class="top-nav">
		<div class="container">
			<nav class="navbar navbar-default">

				<div class="collapse navbar-collapse navbar-right"
					id="bs-example-navbar-collapse-1">
					<nav class="menu menu--shylock">
						<ul class="nav navbar-nav link-effect-7" id="link-effect-7">


							<li><a href=""><p th:text="#{menu.master}"> </p></a></li>
							
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="true"><span class="" ><p th:text="#{menu.member}"> </p></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a th:href="@{/add_member}"><p th:text="#{menu.addmember}"> </p></a></li>
									<li class="divider"></li>
									<li><a th:href="@{/view_member}"><p th:text="#{menu.viewmember}"> </p></a></li>
								</ul></li>
								<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="true"><span class="" ><p th:text="#{menu.milk}"> </p></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a th:href="@{/milk_wizard}"><p th:text="#{menu.milk}"> </p></a></li>
									<li class="divider"></li>
									<li><a th:href="@{/local_sale}"><p th:text="#{menu.localsale}"> </p></a></li>
								</ul></li>
							<li><a href="blog.html"><p th:text="#{menu.ratechart}"> </p></a></li>
							<li><a href="short-codes.html"><p th:text="#{menu.goodsmaster}"> </p></a></li>
							<li><a href="mail.html"><p th:text="#{menu.exit}"> </p></a></li>
							<li> 
							<select class="select" role="menu" id="locales">
    <option deselected th:text="#{language.change}"></option>
    <option  value="en"  th:text="#{lang.eng}"></option>
    <option   value="de" th:text="#{lang.de}"></option>
</select>  
							</li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>

<br>
	<br>	
<fieldset > 
	<legend>Local Sale</legend>
	<form action="#" th:action="@{/local_sale}" th:object="${localsale}" method="post">
	
	<div class="form-group row">
	<div class="col-md-2">
			<p th:text="#{bill.number}"> </p><input type="text" th:value="*{bill_number}" class="form-control" >
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.quantity}"> </p><input type="text" th:field="*{quantity}" class="form-control" >
		</div>
		
		<div class="col-md-3">
		<p th:text="#{const.date}"> </p><input type="date" th:field="*{created_date}" data-date="" class="form-control" data-date-format="YYYY-MM-DD" >
		</div>
		
	</div>
	<div class="form-group row">
	<div class="col-md-2">
			<p th:text="#{milk.stock}"> </p><input type="text" th:field="*{available_milk}" class="form-control" >
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.amount}"> </p><input type="text" th:field="*{amount}" class="form-control" >
		</div>
		
		<div class="col-md-2">
			<p th:text="#{milk.shift}"> </p><select class="form-control" th:field="*{shift}" id="sel1">
							    <option th:value="'ಬೆಳಗ್ಗೆ'" th:text="#{milk.morning}">></option>
							    <option th:value="'ಸಂಜೆ'" th:text="#{milk.evenin}">></option> </select>
		</div>
			<div class="col-md-2">
		<input type="submit" class="btn btn-primary" value="submit " />
		</div>
	</div>
	
	</form>
	
	</fieldset>		



	<div class="footer">
		<div class="container">
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Vector Automation</h3>

				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required />
					<input type="submit" value="Send" />
				</form>
			</div>

			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Social Media</h3>
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="facebook"><span></span><i>-</i>Facebook</a></li>
					<li><a href="#" class="twitter"><span></span><i>-</i>Twitter</a></li>
					<li><a href="#" class="google"><span></span><i>-</i>Google+</a></li>
					<li><a href="#" class="instagram"><span></span><i>-</i>Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>



	<script th:src="@{js/bootstrap.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>

</body>
</html>