<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vector Automation</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Cattle Farm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } 


</script>

<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" th:href="@{css/flexslider.css}" type="text/css"
	media="screen" property="" />

<script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>

<link
	href='//fonts.googleapis.com/css?family=Poppins:400,300,500,600,700'
	rel='stylesheet' type='text/css' />
<link
	href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css' />

<script type="text/javascript" th:src="@{js/move-top.js}"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" th:src="@{js/easing.js}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
		
		$(function() {
			  $("#member_id").focus();
			});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption != '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>
<script type="text/javascript">
$("input").on("change", function() {
    this.setAttribute(
        "data-date",
        moment(this.value, "YYYY-MM-DD")
        .format( this.getAttribute("data-date-format") )
    )
}).trigger("change")
        </script>
        

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #337ab7;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.dropdown-menu {
	background-color: transparent;
}

.select {
	color: #ffffff;
	background-color: transparent;
}

option {
	/* Whatever color  you want */
	background-color: #E4E5E6;
}
 fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}
</style>

</head>

<body>
<th:block th:include="navbar"></th:block>
	<th:block th:include="breadcrum"></th:block>
	<br>
	<br>
	<br>
	
	<div class="container">
	<div th:if="${confirmationMessage}" class="alert alert-success"
				role="alert" th:text=${confirmationMessage}></div> 
				<br>	
<fieldset > 
	<legend>Local Sale</legend>
	<form action="#" th:action="@{/local_sale}" th:object="${localsale}" method="post">
	
	<div class="form-group row">
	<div class="col-md-2">
			<p th:text="#{bill.number}"> </p><input type="text" th:value="*{bill_number}" class="form-control" >
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.quantity}"> </p><input type="text" th:field="*{quantity}" class="form-control" >
		</div>
		
		<div class="col-md-3">
		<p th:text="#{const.date}"> </p><input type="date" th:field="*{created_date}" data-date="" class="form-control" data-date-format="YYYY-MM-DD" >
		</div>
		
	</div>
	<div class="form-group row">
	<div class="col-md-2">
			<p th:text="#{milk.stock}"> </p><input type="text" th:field="*{available_milk}" class="form-control" readonly="readonly" >
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.amount}"> </p><input type="text" th:field="*{amount}" class="form-control" >
		</div>
		
		<div class="col-md-2">
			<p th:text="#{milk.shift}"> </p><select class="form-control" th:field="*{shift}" id="sel1">
							    <option th:value="'ಬೆಳಗ್ಗೆ'" th:text="#{milk.morning}">></option>
							    <option th:value="'ಸಂಜೆ'" th:text="#{milk.evenin}">></option> </select>
		</div>
			<div class="col-md-2">
		<input type="submit" class="btn btn-primary" value="submit " />
		</div>
	</div>
	
	</form>
	
	</fieldset>		
		

	<div class="bs-docs-example">
				<table class="table-bordered">
					<thead >
						<tr>
							<th> <p th:text="#{bill.number}"> </p></th>
							<th><p th:text="#{milk.quantity}"> </p></th>
							<th><p th:text="#{milk.shift}"> </p> </th>
							<th><p th:text="#{milk.quantity}"> </p></th>
							<th><p th:text="#{milk.amount}"> </p></th>
							<th><p th:text="#{const.date}"> </p></th>
							<th>Edit/Delete</th>
						</tr>
					</thead>
					<tbody>
						 <tr th:each="milk : ${localsales}">
						 <!-- <td th:text="${milk.milk_collection_id}"></td> -->
            	<td th:text="${milk.bill_number}"></td>
            	<td th:text="${milk.quantity}"></td>
                <td th:text="${milk.shift}"></td>
                <td th:text="${milk.quantity}"></td>
                <td th:text="${milk.amount}"></td>
                <td th:text="${milk.created_date}"></td>
                <td>
                	<a th:href="@{'/edit_localdata/' + ${milk.bill_number}}"><span class="label label-warning">Edit</span></a>
                	&nbsp;&nbsp;&nbsp;
                	<a th:href="@{'/delete_localdata/' + ${milk.bill_number}}"><span class="label label-danger">Delete</span></a> 
                </td>
                
            </tr>
					</tbody>
				</table>
			</div>
	
	
	</div>

	

	<script th:src="@{js/bootstrap.js}"></script>
	

	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>

</body>
</html>