<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vector Automation</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Cattle Farm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } 


</script>

<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" th:href="@{css/flexslider.css}" type="text/css"
	media="screen" property="" />

<script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>

<link
	href='//fonts.googleapis.com/css?family=Poppins:400,300,500,600,700'
	rel='stylesheet' type='text/css' />
<link
	href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css' />

<script type="text/javascript" th:src="@{js/move-top.js}"></script>
<script type="text/javascript" th:src="@{js/easing.js}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption != '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>
<style>
.dropdown-menu {
	background-color: transparent;
}

.select {
	color: #ffffff;
	background-color: transparent;
}

option {
	/* Whatever color  you want */
	background-color: #E4E5E6;
}
</style>

</head>

<body>

	<div class="top-nav">
		<div class="container">
			<nav class="navbar navbar-default">

				<div class="collapse navbar-collapse navbar-right"
					id="bs-example-navbar-collapse-1">
					<nav class="menu menu--shylock">
						<ul class="nav navbar-nav link-effect-7" id="link-effect-7">


							<li><a href=""><p th:text="#{menu.master}"></p></a></li>

							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="true"><span
									class=""><p th:text="#{menu.member}"></p></span> </a>
								<ul class="dropdown-menu" role="menu">
									<li><a th:href="@{/add_member}"><p
												th:text="#{menu.addmember}"></p></a></li>
									<li class="divider"></li>
									<li><a th:href="@{/view_member}"><p
												th:text="#{menu.viewmember}"></p></a></li>
								</ul></li>
							<li><a href="blog.html"><p th:text="#{menu.ratechart}">
									</p></a></li>
							<li><a href="short-codes.html"><p
										th:text="#{menu.goodsmaster}"></p></a></li>
							<li><a href="mail.html"><p th:text="#{menu.exit}"></p></a></li>
							<li><select class="select" role="menu" id="locales">
									<option deselected th:text="#{language.change}"></option>
									<option value="en" th:text="#{lang.eng}"></option>
									<option value="de" th:text="#{lang.de}"></option>
							</select></li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="container">
	<div class="form-group row">

		<div class="col-md-2">
			<p th:text="#{milk.fat}"> </p><input type="text" class="form-control" name="watch" value=""
				placeholder="">
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.snf}"> </p> <input type="text" class="form-control" name="watch" value=""
				placeholder="">
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.water}"> </p> <input type="text" class="form-control" name="watch" value=""
				placeholder="">
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.amount}"> </p> <input type="text" class="form-control" name="watch" value=""
				placeholder="watch">
		</div>
		<div class="col-md-2">
			<span class="btn btn-primary" onclick="update($(this));"><span
				class="glyphicon glyphicon-repeat" aria-hidden="false"></span>
				<p th:text="#{const.reload}"> </p></span>
		</div>

		<div class="col-md-2">
			 </p><span class="btn btn-primary" onclick="update($(this));"><span
				class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <p th:text="#{const.reset}"> </p></span>
		</div>



	</div>
	<div class="form-group row">

		<div class="col-md-2">
			<p th:text="#{member.id}"> </p><input type="text" class="form-control" name="watch"
				value="" placeholder="watch">
		</div>
		<div class="col-md-1">
			<p th:text="#{const.search}"> </p><span class="btn btn-primary" onclick="update($(this));"><span
				class="glyphicon glyphicon-search" aria-hidden="true"></span> </span>
		</div>

	</div>
	
	<div class="form-group row">

		<div class="col-md-2">
			<p th:text="#{member.id}"> </p><input type="text" class="form-control" name="watch"
				value="" placeholder="">
		</div>
		<div class="col-md-2">
			<p th:text="#{member.name}"> </p><input type="text" class="form-control" name="watch"
				value="" placeholder="">
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.shift}"> </p><select class="form-control" id="sel1">
			<option><p th:text="#{milk.choose}"></p></option>
    <option><p th:text="#{milk.morning}"> </p></option>
    <option><p th:text="#{milk.evening}"> </p></option>
  </select>
		</div>

	</div>
	
	<div class="bs-docs-example">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th> ಸಂಖ್ಯೆ</th>
							<th>ಸದಸ್ಯರ ಹೆಸರುe</th>
							<th>ದೂರವಾಣಿ ಸಂಖ್ಯೆ</th>
							<th>ರಾಸು</th>
							<th>ಅಧಾರ್ ಸಂಖ್ಯೆ</th>
							<th>ಸದಸ್ಯರನ್ನು ಮಾರ್ಪಡಿಸಿ</th>
						</tr>
					</thead>
					<tbody>
						 <tr th:each="milk : ${milk_member}">
            	<td th:text="${milk.member.id}">Member ID</td>
                <td th:text="${milk.shift}">Shift</td>
                <td th:text="${milk.quantity}">Quantity</td>
                <td th:text="${milk.fat}">Fat</td>
                <td th:text="${milk.amount}">Amount</td>
                
            </tr>
					</tbody>
				</table>
			</div>
	
	
	</div>

	<!-- <div class="footer">
		<div class="container">
			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Vector Automation</h3>

				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required />
					<input type="submit" value="Send" />
				</form>
			</div>

			<div class="col-md-4 agileinfo_footer_grid">
				<h3>Social Media</h3>
				<ul class="agileinfo_social_icons">
					<li><a href="#" class="facebook"><span></span><i>-</i>Facebook</a></li>
					<li><a href="#" class="twitter"><span></span><i>-</i>Twitter</a></li>
					<li><a href="#" class="google"><span></span><i>-</i>Google+</a></li>
					<li><a href="#" class="instagram"><span></span><i>-</i>Instagram</a></li>
				</ul>
			</div>
		</div>
	</div>
 -->


	<script th:src="@{js/bootstrap.js}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>

</body>
</html>