<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption != '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>

<div class="top-nav">
		<div class="container">
			<nav class="navbar navbar-default">

				<div class="collapse navbar-collapse navbar-right"
					id="bs-example-navbar-collapse-1">
					<nav class="menu menu--shylock">
						<ul class="nav navbar-nav link-effect-7" id="link-effect-7">
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="true"><span class="" ><p th:text="#{menu.master}"> </p></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a th:href="@{/view_bank}"><p th:text="#{menu.bank}"> </p></a></li>
									<li class="divider"></li>
								</ul></li>
							
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="true"><span class="" ><p th:text="#{menu.member}"> </p></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a th:href="@{/add_member}"><p th:text="#{menu.addmember}"> </p></a></li>
									<li class="divider"></li>
									<li><a th:href="@{/view_member}"><p th:text="#{menu.viewmember}"> </p></a></li>
								</ul></li>
								
								
								<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="true"><span class="" ><p th:text="#{menu.milk}"> </p></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a th:href="@{/milk_wizard}"><p th:text="#{menu.milk}"> </p></a></li>
									<li class="divider"></li>
									<li><a th:href="@{/local_sale}"><p th:text="#{menu.localsale}"> </p></a></li>
								</ul></li>
								
							<li><a href="blog.html"><p th:text="#{menu.ratechart}"> </p></a></li>
							
							
							
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-expanded="true"><span class="" ><p th:text="#{menu.goodsmaster}"> </p></span>
							</a>
								<ul class="dropdown-menu" role="menu">
									<li><a th:href="@{/view_trucksheet}"><p th:text="#{menu.trucksheet}"> </p></a></li>
									<li class="divider"></li>
								</ul></li>
							
							<li><a th:href="@{/logout}"><p th:text="#{menu.exit}"> </p></a></li>
							<li> 
							<select class="select" role="menu" id="locales">
    <option deselected th:text="#{language.change}"></option>
    <option  value="en"  th:text="#{lang.eng}"></option>
    <option   value="de" th:text="#{lang.de}"></option>
</select>  
							</li>
						</ul>
					</nav>
				</div>
			</nav>
		</div>
	</div>