<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Vector Automation</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords"
	content="Cattle Farm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	
	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } 


</script>

<link th:href="@{css/bootstrap.css}" rel="stylesheet" type="text/css"
	media="all" />
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"
	media="all" />
<link rel="stylesheet" th:href="@{css/flexslider.css}" type="text/css"
	media="screen" property="" />

<script type="text/javascript" th:src="@{js/jquery-2.1.4.min.js}"></script>

<link
	href='//fonts.googleapis.com/css?family=Poppins:400,300,500,600,700'
	rel='stylesheet' type='text/css' />
<link
	href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
	rel='stylesheet' type='text/css' />

<script type="text/javascript" th:src="@{js/move-top.js}"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" th:src="@{js/easing.js}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop : $(this.hash).offset().top
			}, 1000);
		});
		
		$(function() {
			  $("#member_id").focus();
			});
	});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#locales").change(function() {
			var selectedOption = $('#locales').val();
			if (selectedOption != '') {
				window.location.replace('?lang=' + selectedOption);
			}
		});
	});
</script>
<script type="text/javascript">
$("input").on("change", function() {
    this.setAttribute(
        "data-date",
        moment(this.value, "YYYY-MM-DD")
        .format( this.getAttribute("data-date-format") )
    )
}).trigger("change")
        </script>
        

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  text-align: left;
  padding: 8px;
}
th {
  background-color: #337ab7;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.dropdown-menu {
	background-color: transparent;
}

.select {
	color: #ffffff;
	background-color: transparent;
}

option {
	/* Whatever color  you want */
	background-color: #E4E5E6;
}
 fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			width: 35%; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}
</style>

</head>

<body>
	<th:block th:include="navbar"></th:block>
	<div class="agileits_breadcrumbs">
		<div class="container">
			<div class="agileits_breadcrumbs_left">
			<h2>vector Automation</h2>	
			</div>
			<div class="agileits_breadcrumbs_right">
				<h2>Bannur - Milk Dairy</h2>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	
	<div class="container">
	<div th:if="${confirmationMessage}" class="alert alert-success"
				role="alert" th:text=${confirmationMessage}></div> 
				<br>	
<fieldset > 
	<legend>Truck Sheet Entry</legend>
	<form action="#" th:action="@{/truck_sheet}" th:object="${trucksheet}" method="post">
	
	<div class="form-group row">
	<div class="col-md-2">
			<p th:text="#{milk.shift}"> </p><select class="form-control" th:field="*{shift}" id="sel1" required="required">
							    <option th:value="'ಬೆಳಗ್ಗೆ'" th:text="#{milk.morning}">></option>
							    <option th:value="'ಸಂಜೆ'" th:text="#{milk.evenin}">></option> </select>
		</div>
		<div class="col-md-2">
			<p th:text="#{member.rasu}"> </p><select class="form-control" th:field="*{rasu}" id="sel1" required="required">
								<option th:value="'ಹಸು'" th:text="#{member.cow}"></option>
							    <option th:value="'ಎಮ್ಮೆ'" th:text="#{member.buffalo}"></option></select>
		</div>
		
		<div class="col-md-3">
		<p th:text="#{const.date}"> </p><input type="date" th:field="*{created_date}" data-date="" class="form-control" data-date-format="YYYY-MM-DD" >
		</div>
		
	</div>
	<div class="form-group row">
	<div class="col-md-2">
			<p th:text="#{milk.fat}"> </p><input type="text" th:field="*{fat}" class="form-control" required="required">
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.snf}"> </p> <input type="text" th:field="*{snf}"  class="form-control" required="required" >
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.rate}"> </p><input type="text" th:field="*{rate}" class="form-control" required="required" >
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.amount}"> </p> <input type="text" class="form-control" th:field="*{amount}" required="required">
		</div>
	
	</div>
	<div class="form-group row">
	<div class="col-md-2">
			<p th:text="#{milk.type}"> </p><select class="form-control" th:field="*{milktype}" id="sel1" required="required">
								<option th:value="#{milk.good}" th:text="#{milk.good}"></option>
							    <option th:value="#{milk.low}" th:text="#{milk.low}"></option>
							     <option th:value="#{milk.curd}" th:text="#{milk.curd}"></option></select>
		</div>
		<div class="col-md-2">
			<p th:text="#{milk.totalcan}"> </p><input type="text" th:field="*{tottal_can}" class="form-control" >
		</div>
		
		<div class="col-md-2">
			<p th:text="#{milk.quantity}"> </p><input type="text" th:field="*{quantity}" class="form-control" >
		</div>
			<div class="col-md-2">
		<input type="submit" class="btn btn-primary" value="submit " />
		</div>
	</div>
	
	</form>
	
	</fieldset>		
		

	
	
	
	</div>

	

	<script th:src="@{js/bootstrap.js}"></script>
	

	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			 */

			$().UItoTop({
				easingType : 'easeOutQuart'
			});

		});
	</script>

</body>
</html>